# Global configuration for the debug system

# ProductiveMode - when set to true, only Production level logs (Level 1) are shown.
ProductiveMode = false

# Set the global debug level:
# 1 = Production, 2 = Test, 3 = Debug
DebugLevel = 3

# Tags to include in debug messages. Specify as a comma-separated list inside square brackets.
ActiveTags = [System,Spieler,AI,Items]

# just for Info, all Tags that are in the game and are not included
ExcludedTags = [Test, Loot, Achievement]
